<!-- =========================
FOOTER COMPONENT
========================= -->

<footer>

<div class="footer-content">
  <h3>SPB & Co.</h3>
  <p>Providing expert financial strategies and premier accounting solutions to propel your business forward.</p>
</div>

<div class="social-links">

<a href="https://m.facebook.com/profile.php?id=100063596726670" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>

<a href="https://m.facebook.com/profile.php?id=100063596726670" target="_blank">
<i class="fab fa-twitter"></i>
</a>

<a href="https://in.linkedin.com/in/cma-sunder-prakash-budkoti-69a14326" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>

<a href="https://www.instagram.com/fcma_sunder_p.budkoti" target="_blank">
<i class="fab fa-instagram"></i>
</a>

</div>

<p style="font-size: 14px; opacity: 0.5;">© 2024 SPB & Co. All rights reserved. <br>Designed and created by - Gaurav Paliwal</p>

</footer>